*{
  padding: 0;
  margin: 0;
}
p{
  font-size: 20px;
  font-style: italic;
}
hr{
  border-style: none;
  border-top-style: dotted;
  height: 0px;
  border-width: 2px;
  border-color: rgb(24, 17, 17);
}
h1{
  font-size: 50px;
}
.imp {
text-decoration-line: underline;
text-decoration-style:dashed;
text-decoration-color: rgb(33, 0, 180);
}